body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial;
}

video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  background: black;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
}

.hidden {
  display: none;
}

.menu {
  width: 35%;
  background: #111;
  padding: 20px;
  overflow-y: auto;
}

.menu h2 {
  color: white;
}

.category {
  margin-bottom: 15px;
}

.category h3 {
  color: #1f8cff;
  margin-bottom: 5px;
}

.channel {
  color: white;
  padding: 12px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.channel.active,
.channel:focus {
  background: #1f8cff;
  outline: none;
}
